# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv_gpu/
testmodel/
ENV/
env/
.venv/

# Environment variables
# .env

# SQLite database (don’t push local DB)
instance/
*.db

# VS Code settings
.vscode/

# Migrations cache (keep actual migrations folder, ignore caches)
migrations/__pycache__/

# System files
.DS_Store
Thumbs.db
uploads/

# Machine Learning Artifacts
results_listener/
results_responder/
listener_model/
responder_model/
logs_listener/
logs_responder/
*.pth
*.bin
*.pt
*.safetensors
*.onnx
